<h2 class="title is-3 has-text-centered">
    Products In Real Time
</h2>

<div id="products" class="columns is-multiline"></>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
