<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Pre Entrega Two - Backend(I)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <div class="container">
        <h1 class="title is-1 has-text-centered">E-Commerce | Backend</h1>
        <a class="button is-link" href="/">Home</a>
        <a class="button is-link" href="../realtimeproducts">Real Time Products</a>
        {{{body}}}

    </div>
</body>

</html>